{% extends ':parent:base.html.twig' %}
{% block title %}liste de utilisateurs{% endblock %}
{% block body %}
<div class="page-wrapper">
    <div class="page-breadcrumb border-bottom">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
                <h5 class="font-medium text-uppercase mb-0">List des statistiques</h5>
            </div>
            <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
                <nav aria-label="breadcrumb" class="mt-2 float-md-right float-left">
                    <ol class="breadcrumb mb-0 justify-content-end p-0">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Tableau de bord</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="material-card card">
                    <div class="card-body">
                        <div class="text-right" style="margin-bottom: 25px">
                            <a href="{{ path('stat_new') }}" class="btn btn-success">
                                <i class="mdi mdi-plus text"></i>
                                <span class="text">Ajouter statistique</span>
                            </a>
                        </div>
                        <div class="table-responsive">
                            <table id="table_default" class="table table-striped border">
                                <thead>
                                <tr>
                                    <th >titre
                                    </th>
                                    <th>createur
                                    </th>
                                    <th>demandeur
                                    </th>
                                    <th>Action
                                    </th>
                                </thead>
                                <tbody>
                                {% for s in stats %}
                                <tr role="row" class="even">
                                    <td>{{ s.title }}</td>
                                    <td>{{ s.user }}</td>
                                    <td>{{ s.demandeur }}</td>
                                    <td>
                                        <a href="{{ path('stat_show', { 'id': s.id }) }}" class="btn btn-sm btn-success">
                                            Afficher
                                        </a>
                                        <a href="{{ path('stat_edit', { 'id': s.id }) }}" class="btn btn-sm btn-warning">
                                            Modifier
                                        </a>
                                        <a href="{{ path('stat_new_chart', { 'id': s.id }) }}" class="btn btn-sm btn-primary">
                                            Ajouter statistique
                                        </a>
                                    </td>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="central"></div>
    </div>
</div>

{% endblock %}
