{% extends 'twig_index.html.twig' %}

{% block title %}Gestion demande d'information{% endblock %}

{% block body %}
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="{{ path('admin_index') }}" class="logo" >

                <span class="logo-mini"><b>INS</b></span>
                <span class="logo-lg" >
                    <img width="165px" src="{{ asset('Ipi/dist/img/logob1.png') }}" class="img" alt="INS">
                </span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                            </a>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ asset('Ipi/dist/img/user7-128x128.jpg') }}" class="user-image" alt="User Image">
                                <span class="hidden-xs">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="{{ asset('Ipi/dist/img/user7-128x128.jpg') }}" class="img-circle" alt="User Image">
                                    <p>
                                        {{ app.user.firstname }} {{ app.user.lastname }}
                                        <small>
                                            {% if is_granted('ROLE_ADMIN') %}Adminstrateur {% endif %}
                                            {% if is_granted('ROLE_BIB') %} Agent Bibliotheque {% endif %}
                                        </small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="text-center">
                                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Déconnecté</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>




        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <div class="user-panel">
                    <div class="pull-left image">
                        <img style="margin-top: 13px" src="{{ asset('Ipi/dist/img/user7-128x128.jpg') }}" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p style="margin-top: 10px">{{ app.user.firstname }} {{ app.user.lastname }} </p>
                            <small>
                                {% if is_granted('ROLE_ADMIN') %}Adminstrateur {% endif %}
                                {% if is_granted('ROLE_BIB') %} Agent {% endif %}
                            </small>
                    </div>
                </div>
                <br/>
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">

                    {% if is_granted('ROLE_ADMIN') %}
                    {#admin#}
                    <li><a href="#" id="Gestion_user_bib"><i class="fa fa-user"></i> <span>Gerer les responsables</span></a>
                    </li>
                    {% endif %}

                    {% if is_granted('ROLE_BIB') or is_granted('ROLE_ADMIN')  %}
                    {#bib#}
                    <li class="treeview active">
                        <a>
                            <i class="fa fa-book"></i> <span>Gerer les demandes</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#" id="List_demandes"><i class="fa fa-circle-o">
                                    </i> List demandes</a></li>
                            <li><a href="#" id="Gestion_demandeur"><i class="fa fa-circle-o">
                                    </i> Recherche demande</a></li>
                        </ul>
                    </li>
                    {% endif %}

                    <li class="treeview active">
                        <a>
                            <i class="fa fa-newspaper-o"></i> <span>Gerer les actualités</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('post_index') }}"><i class="fa fa-circle-o">
                                    </i> List actualités</a></li>
                            <li><a href="{{ path('post_new') }}"><i class="fa fa-circle-o">
                                    </i> Ajouter actualités</a></li>
                        </ul>
                    </li>

                    <li class="treeview active">
                        <a>
                            <i class="fa fa-dashboard"></i> <span>Gerer les statistiques</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#" id="Gestion_demande"><i class="fa fa-circle-o">
                                    </i> List statistique</a></li>
                            <li><a href="#" id="Gestion_demandeur"><i class="fa fa-circle-o">
                                    </i> Ajouter statistique</a></li>
                        </ul>
                    </li>

                </ul>


                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->


            <!-- Main content -->
            <div class="row">
                <div class="col-md-12">
                    <section class="content">
                        <div id="central">
                            {% block contenu %}{% endblock %}
                        </div>
                        <!-- Your Page Content Here -->
                    </section>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">

            <!-- Default to the left -->
            <strong>Copyright 2019 <a href="#">INS</a>.</strong> All rights reserved.
        </footer>

        <div class="control-sidebar-bg"></div>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {

            $("#logout").click(function () {
                location.href = "logout";
            });

            $("#List_demandes").click(function () {

                $("#central").html('<center><img src="{{ asset('Ipi/dist/img/ajax-loader.gif') }}" ><br><b>Patientez...</b></center>');
                $.ajax({
                    url: '{{ path('bib_demande') }}',
                    type: 'POST',
                    dataType: 'html',
                    success: function (code_html, statut) {
                        $("#central").html(code_html); // On passe code_html à jQuery() qui va nous créer l'arbre DOM !
                    },
                    error: function (resultat, statut, erreur) {
                    },

                    complete: function (resultat, statut) {
                    }
                });

            });

            $("#Gestion_demandeur").click(function () {

                $("#central").html('<center><img src="{{ asset('Ipi/dist/img/ajax-loader.gif') }}" ><br><b>Patientez...</b></center>');
                $.ajax({
                    url: '{{ path('bib_demandeur') }}',
                    type: 'POST',
                    dataType: 'html',
                    success: function (code_html, statut) {
                        $("#central").html(code_html); // On passe code_html à jQuery() qui va nous créer l'arbre DOM !
                    },
                    error: function (resultat, statut, erreur) {
                    },

                    complete: function (resultat, statut) {
                    }
                });

            });

            $("#Gestion_demande_resp").click(function () {

                $("#central").html('<center><img src="{{ asset('Ipi/dist/img/ajax-loader.gif') }}" ><br><b>Patientez...</b></center>');
                $.ajax({
                    url: '{{ path('res_demande') }}',
                    type: 'POST',
                    dataType: 'html',
                    success: function (code_html, statut) {
                        $("#central").html(code_html); // On passe code_html à jQuery() qui va nous créer l'arbre DOM !
                    },
                    error: function (resultat, statut, erreur) {
                    },

                    complete: function (resultat, statut) {
                    }
                });

            });

            $("#Gestion_demandeur_resp").click(function () {

                $("#central").html('<center><img src="{{ asset('Ipi/dist/img/ajax-loader.gif') }}" ><br><b>Patientez...</b></center>');
                $.ajax({
                    url: '{{ path('res_demandeur') }}',
                    type: 'POST',
                    dataType: 'html',
                    success: function (code_html, statut) {
                        $("#central").html(code_html); // On passe code_html à jQuery() qui va nous créer l'arbre DOM !
                    },
                    error: function (resultat, statut, erreur) {
                    },

                    complete: function (resultat, statut) {
                    }
                });

            });

            $("#Gestion_user_bib").click(function () {

                $("#central").html('<center><img src="{{ asset('Ipi/dist/img/ajax-loader.gif') }}" ><br><b>Patientez...</b></center>');
                $.ajax({
                    url: '{{ path('user_index_bib') }}',
                    type: 'POST',
                    dataType: 'html',
                    success: function (code_html, statut) {
                        $("#central").html(code_html); // On passe code_html à jQuery() qui va nous créer l'arbre DOM !
                    },
                    error: function (resultat, statut, erreur) {
                    },

                    complete: function (resultat, statut) {
                    }
                });

            });

            $("#Gestion_user_email").click(function () {

                $("#central").html('<center><img src="{{ asset('Ipi/dist/img/ajax-loader.gif') }}" ><br><b>Patientez...</b></center>');
                $.ajax({
                    url: '{{ path('user_index_resp') }}',
                    type: 'POST',
                    dataType: 'html',
                    success: function (code_html, statut) {
                        $("#central").html(code_html); // On passe code_html à jQuery() qui va nous créer l'arbre DOM !
                    },
                    error: function (resultat, statut, erreur) {
                    },

                    complete: function (resultat, statut) {
                    }
                });

            });

        });
    </script>
{% endblock %}
