<section class="content-header">
    <h1>
        List des utilisateurs
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Acceuil</a></li>
        <li><a href="{{ path('homepage') }}">Tableau de bord</a></li>
        <li class="active">Modifier utilisateur</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Modifier les information de {{ user.firstname }} {{ user.lastname }}</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_start(edit_form, { 'attr': {'action': path("user_edit", {'id': user.id}) , 'id' : 'form01'} }) }}
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    {{ form_label(edit_form.lastname, 'Nom') }}
                                    {{ form_widget(edit_form.lastname, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="col-md-4 mb-3">
                                    {{ form_label(edit_form.firstname, 'Prenom') }}
                                    {{ form_widget(edit_form.firstname, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="col-md-4 mb-3">
                                    {{ form_label(edit_form.email, 'Email') }}
                                    {{ form_widget(edit_form.email, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    {{ form_label(edit_form.phone, 'Numero de telephone') }}
                                    {{ form_widget(edit_form.phone, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="col-md-4 mb-3">
                                    {{ form_label(edit_form.address, 'Adress') }}
                                    {{ form_widget(edit_form.address, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="col-md-4 mb-3">
                                    {{ form_label(edit_form.zipCode, 'ZIP code') }}
                                    {{ form_widget(edit_form.zipCode, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12 mb-12">
                                    {{ form_label(edit_form.description, 'Description') }}
                                    {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control','cols': '30','rows': '8', } }) }}
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <br/>
                                    <button class="btn btn-primary btn-lg" type="submit">Valider</button>
                                </div>
                            </div>
                            {{ form_row(edit_form._token) }}
                            {{ form_end(edit_form, {'render_rest': false}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
