{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-wrapper">
        <div class="page-breadcrumb border-bottom">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
                    <h5 class="font-medium text-uppercase mb-0">List des utilisateurs</h5>
                </div>
                <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
                    <nav aria-label="breadcrumb" class="mt-2 float-md-right float-left">
                        <ol class="breadcrumb mb-0 justify-content-end p-0">
                            <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tableau de bord</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="material-card card">
                        <div class="card-body">
                            <div class="text-right" style="margin-bottom: 25px">
                                <a href="{{ path('user_new') }}" class="btn btn-success">
                                    <i class="mdi mdi-plus text"></i>
                                    <span class="text">Ajouter utilisateur</span>
                                </a>
                            </div>
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped border">
                                    <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Email</th>
                                        <th>Tel</th>
                                        <th>Address</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.firstname }}</td>
                                            <td>{{ user.lastname }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.phone }}</td>
                                            <td>{{ user.address }}</td>
                                            <td>{% if user.enabled %}
                                                    <span class="badge badge-pill text-uppercase text-white font-medium badge-success">Activer</span>
                                                {% else %}
                                                    <span class="badge badge-pill text-uppercase text-white font-medium badge-danger">Non activer</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <button href="{{ path('user_show', { 'id': user.id }) }}"
                                                        onclick="showuser({{ user.id }})"
                                                        class="btn btn-purple btn-sm">
                                                    <i class="mdi mdi-eye"></i>
                                                    <span>Afficher</span>
                                                </button>
                                                <a href="{{ path('user_edit', { 'id': user.id }) }}"
                                                   class="btn btn-info btn-sm">
                                                    <i class="mdi mdi-pencil"></i>
                                                    <span>Modifier</span>
                                                </a>
                                                <a href="{{ path('user_delete', { 'id': user.id }) }}"
                                                   class="btn btn-danger btn-sm">
                                                    <i class="mdi mdi-delete"></i>
                                                    <span>Supprimer</span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="central">

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        function showuser(id) {

            $("#central").html(`
                <div class="col-12 text-center" style="margin-top: 100px">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                </div>
               `);

            $.ajax({
                url: id,
                type: 'POST',
                dataType: 'html',
                success: function (code_html, statut) {
                    $("#central").html(`
                    <div class="col-12">
                    <div class="material-card card">
                        <div class="card-body">
                            ` + code_html + `
                        </div>
                    </div>
                </div>
                    `);
                },
                error: function (resultat, statut, erreur) {
                },

                complete: function (resultat, statut) {
                }
            });
        };
    </script>
{% endblock %}
