<!DOCTYPE html>
<html lang="fr">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Demo Insurance | Porto - Responsive HTML5 Template 7.0.0</title>

    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('front/img/favicon.ico') }} " type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{{ asset('front/img/apple-touch-icon.png') }}">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{{ asset('front/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendor/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendor/animate/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendor/simple-line-icons/css/simple-line-icons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendor/owl.carousel/assets/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendor/owl.carousel/assets/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendor/magnific-popup/magnific-popup.min.css') }}">


    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{ asset('front/css/theme.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/theme-elements.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/theme-blog.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/theme-shop.css') }}">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="{{ asset('front/vendor/rs-plugin/css/settings.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendor/rs-plugin/css/layers.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendor/rs-plugin/css/navigation.css') }}">

    <link rel="stylesheet" href="{{ asset('front/vendor/circle-flip-slideshow/css/component.css') }}">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="{{ asset('front/css/skins/default.css') }}">
    <script src="{{ asset('front/master/style-switcher/style.switcher.localstorage.js') }}"></script>

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ asset('front/css/custom.css') }}">

    <!-- Head Libs -->
    <script src="{{ asset('front/vendor/modernizr/modernizr.min.js') }}"></script>

</head>

<body>

<div class="body">

    {% include(':front:menu.html.twig') %}

    <div role="main" class="main">
        {% block content %}{% endblock %}
    </div>
    {% include('front/footer.html.twig') %}
</div>

<!-- Vendor -->
<script src="{{ asset('front/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('front/vendor/jquery.appear/jquery.appear.min.js') }}"></script>
<script src="{{ asset('front/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
<script src="{{ asset('front/vendor/jquery.cookie/jquery.cookie.min.js') }}"></script>
<script src="{{ asset('front/master/style-switcher/style.switcher.js') }}" id="styleSwitcherScript" data-base-path="" data-skin-src=""></script>
<script src="{{ asset('front/vendor/popper/umd/popper.min.js') }}"></script>
<script src="{{ asset('front/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('front/vendor/common/common.min.js') }}"></script>
<script src="{{ asset('front/vendor/jquery.validation/jquery.validate.min.js') }}"></script>
<script src="{{ asset('front/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js') }}"></script>
<script src="{{ asset('front/vendor/jquery.gmap/jquery.gmap.min.js') }}"></script>
<script src="{{ asset('front/vendor/jquery.lazyload/jquery.lazyload.min.js') }}"></script>
<script src="{{ asset('front/vendor/isotope/jquery.isotope.min.js') }}"></script>
<script src="{{ asset('front/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('front/vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('front/vendor/vide/jquery.vide.min.js') }}"></script>

<!-- Theme Base, Components and Settings -->
<script src="{{ asset('front/js/theme.js') }}"></script>

<script src="{{ asset('front/js/views/view.contact.js') }}"></script>

<!-- Current Page Vendor and Views -->
<script src="{{ asset('front/vendor/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
<script src="{{ asset('front/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>

<!-- Theme Custom -->
<script src="{{ asset('front/js/custom.js') }}"></script>

<!-- Theme Initialization Files -->
<script src="{{ asset('front/js/theme.init.js') }}"></script>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhpYHdYRY2U6V_VfyyNtkPHhywLjDkhfg"></script>
<script>

    /*
    Map Settings

        Find the Latitude and Longitude of your address:
            - https://www.latlong.net/
            - http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/

    */

    // Map Markers
    var mapMarkers = [{
        address: "New York, NY 10017",
        html: "<strong>New York Office</strong><br>New York, NY 10017",
        icon: {
            image: "img/pin.png",
            iconsize: [26, 46],
            iconanchor: [12, 46]
        },
        popup: true
    }];

    // Map Initial Location
    var initLatitude = 40.75198;
    var initLongitude = -73.96978;

    // Map Extended Settings
    var mapSettings = {
        controls: {
            draggable: (($.browser.mobile) ? false : true),
            panControl: true,
            zoomControl: true,
            mapTypeControl: true,
            scaleControl: true,
            streetViewControl: true,
            overviewMapControl: true
        },
        scrollwheel: false,
        markers: mapMarkers,
        latitude: initLatitude,
        longitude: initLongitude,
        zoom: 11
    };

    var map = $('#googlemaps').gMap(mapSettings);

    // Map text-center At
    var mapCenterAt = function (options, e) {
        e.preventDefault();
        $('#googlemaps').gMap("centerAt", options);
    }

</script>


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-42715764-5', 'auto');
    ga('send', 'pageview');
</script>
<script src="{{ asset('front/master/analytics/analytics.js') }}"></script>

</body>

</html>