<header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
    <div class="header-body header-body-bottom-border border-top-0">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="">
                                <img alt="INS" src="{{ asset('Ipi/dist/img/logob.png') }}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div class="header-nav header-nav-line header-nav-bottom-line">
                            <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li>
                                            <a class="nav-link {{ app.request.get('_route') == 'homepage' ? 'active' }}" href="{{ path('homepage') }}">
                                                Accueil
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link {{ app.request.get('_route') == 'about' ? 'active' }}" href="{{ path('about') }}">
                                                À propos de nous
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link {{ app.request.get('_route') == 'post_front_index' ? 'active' }}" href="{{ path('post_front_index') }}">
                                                Actualités
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link {{ app.request.get('_route') == 'contact' ? 'active' }}" href="{{ path('contact') }}">
                                                Contactez nous
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <a href="{{ path('demande') }}" class="btn btn-xl btn-outline btn-rounded btn-primary text-1 ml-3 font-weight-bold text-uppercase {{ app.request.get('_route') == 'demande' ? 'active' }}">Envoyer une demande</a>
                            <a href="{{ path('fos_user_security_login') }}" class="btn btn-xl btn-outline btn-rounded btn-info text-1 ml-3 font-weight-bold text-uppercase">Login</a>
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
