{% extends ':parent:base.html.twig' %}
{% block title %}Ajouter actualité{% endblock %}
{% block body %}
    <div class="page-wrapper">
    <div class="page-breadcrumb border-bottom">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
                <h5 class="font-medium text-uppercase mb-0">Ajouter actualité</h5>
            </div>
            <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
                <nav aria-label="breadcrumb" class="mt-2 float-md-right float-left">
                    <ol class="breadcrumb mb-0 justify-content-end p-0">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Tableau de bord</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Ajouter actualité</h4>
                    {{ form_start(form) }}
                    <div class="form-row">
                        <div class="col-md-12 mb-12">
                            {{ form_label(form.title, 'Titre') }}
                            {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-10 mb-10">
                            <br>
                            {{ form_label(form.body, 'Contenu') }}
                            {{ form_widget(form.body, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="col-md-2 mb-2">
                            <br><br>
                            <h5>Choisir votre photo</h5>
                            <div class="form-group custom-file">
                                {{ form_widget(form.logo, {attr: {class: 'custom-file-input file'}}) }}
                                {{ form_label(form.logo, 'Choisir votre photo', {label_attr: {class: 'custom-file-label'}}) }}
                            </div>
                            {{ form_errors(form.logo) }}
                            {% if post.logo != null %}
                                <img width="180px" src="{{ asset('/uploads/images/'~post.logo) }}" alt="{{ post.title }}" id="img" class="img-fluid">
                            {% else %}
                                <img width="220px" src="" alt="" id="img" class="img-fluid"/>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <br/>
                            <input class="btn btn-primary btn-lg" type="submit" value="Create" />
                        </div>
                    </div>
                    {{ form_row(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        jQuery('.file').on('change', function() {
            document.getElementById('img').src = window.URL.createObjectURL(this.files[0])
        });
    </script>
{% endblock %}