<div class="row">
    <div class="col-xs-12">
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">Detail de {{ demandeur.firstname }} {{ demandeur.lastname }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="lead">{{ demandeur.firstname }} {{ demandeur.lastname }}</p>

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr style="background-color: lemonchiffon">
                                        <th style="width:50%"><i class="fa fa-chain margin-r-5"></i> Actitie:</th>
                                        <td>{{ demandeur.activity }}</td>
                                    </tr>
                                    <tr>
                                        <th style="width:50%"><i class="fa fa-calendar margin-r-5"></i>Date Demande:</th>
                                        <td>{{ demandeur.datedemande|date('Y-m-d')  }}</td>
                                    </tr>
                                    <tr>
                                        <th style="width:50%"><i class="fa fa-calendar-o margin-r-5"></i>Date Reponse:</th>
                                        <td>{% if demandeur.dateresponse %}
                                                {{ demandeur.dateresponse|date('Y-m-d')  }}
                                            {% else %}
                                                <span class="label label-warning">Pas de repanse</span>
                                            {% endif %}</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-envelope margin-r-5"></i>Email:</th>
                                        <td>{{ demandeur.email }}</td>
                                    </tr>
                                    <tr style="background-color: lemonchiffon">
                                        <th><i class="fa fa-key margin-r-5"></i> Cle:</th>
                                        <td>{{ demandeur.cle }}</td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-phone margin-r-5"></i> Tel:</th>
                                        <td>{{ demandeur.tel }}</td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-building margin-r-5"></i> Organization:</th>
                                        <td>{{ demandeur.organization }}</td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-leaf margin-r-5"></i> Type:</th>
                                        <td>{{ demandeur.type }}</td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-glass margin-r-5"></i> Visite:</th>
                                        <td>{% if demandeur.firstTime == true %}
                                                <span class="label label-success">Pour la première fois</span>
                                            {% else %}
                                                <span class="label label-warning">Pas pour la première fois</span>
                                            {% endif %}</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
